.box {
  border: 1px solid red;
}

.box::before {
  content: "첫 번째 자식 요소";
  width: 140px;
  background-color: lime;
  display: block;
}

.box::after {
  content: "마지막 자식 요소";
  width: 140px;
  background-color: lime;
  display: block;
}

