/* 비트맵 이미지 */
.rmd-img {
  max-width: 100%;
  height: auto;
}

/* svg 이미지 */
.rmd-svg {
  max-width: 100%;
  height: auto;
}

/* 클래스 사용 X */
figure {
  background-color: yellow;
  margin: 0;
  width: 80%;

  img {
    max-width: 100%;
  }
}